Pandas

In [ ]:
1. What is Pandas?
- Pandas is a Python Library used to working with datasets.
- It has functions for analyzing, cleaning, exploring and manupulating data

In [ ]:
2. Why to use Pandas?
- Pandas allows us to analyze big data and make conclusions based on statistical theories.
- Pandas can clean messy datasets and make them readable & relevant

In [ ]:
3. What can Pandas do?
- Pandas gives you answers about the data like:
    a. Is there a correlation between two or more columns?
    b. What is average value?
    c. Max value?
    d. Min value?
- Pandas is also able to delete rows that are not relevant OR contains wrong values like empty or 
  NULL values. This is called cleaning the data.

# Data Structures in Pandas

In [ ]:
1. Series                    1-Dimentional
2. DataFrame                 2-Dimentional
3. Panel                     Multi-Dimetional

In [4]:
import pandas as pd

# 1. Series

In [6]:
s1 = pd.Series([10,20,30,40,50])

In [8]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
s2 = pd.Series([10,20,30,40,50], index=['a','b','c','d','e'])

In [12]:
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [14]:
d1 = pd.Series({'a':101, 'b':202, 'c':303})

In [16]:
d1

a    101
b    202
c    303
dtype: int64

In [18]:
type(d1)

pandas.core.series.Series

In [20]:
t1 = pd.Series([100,200,300,400,500], index=[1,2,3,4,5])

In [22]:
t1

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [26]:
print("Data Type:", t1.dtype)
print("Index:", t1.index)
print("Values",t1.values)
print("Get Single Value:", t1.get(4))

Data Type: int64
Index: Index([1, 2, 3, 4, 5], dtype='int64')
Values [100 200 300 400 500]
Get Single Value: 400

# 2.DataFrame

In [32]:
# Create DataFrame using Dictionary
emp_details = {
    'Id': [101,102,103,104],
    'Name': ['Raghav','Darshan','Ammy','John'],
    'City':['Mumbai','Hyderabad','Chennai','Noida'],
    'Salary':[51000,54200,65470,30000]
}

In [34]:
emp = pd.DataFrame(emp_details)

In [36]:
emp

    Id     Name       City  Salary
0  101   Raghav     Mumbai   51000
1  102  Darshan  Hyderabad   54200
2  103     Ammy    Chennai   65470
3  104     John      Noida   30000

In [44]:
# index
emp_index = pd.DataFrame(emp_details, index=[1,2,3,4])

In [46]:
emp_index

    Id     Name       City  Salary
1  101   Raghav     Mumbai   51000
2  102  Darshan  Hyderabad   54200
3  103     Ammy    Chennai   65470
4  104     John      Noida   30000

In [48]:
print(emp_index.index)

Index([1, 2, 3, 4], dtype='int64')

In [50]:
print(emp_index.Name)

1     Raghav
2    Darshan
3       Ammy
4       John
Name: Name, dtype: object

In [52]:
print(emp_index.Name.get(2))

Darshan

In [56]:
# Create DataFrame by using Series

data = {
    'Name': pd.Series(['abc','def','ghi']),
    'Sal': pd.Series([15000,52000,30000])
}

In [58]:
series_df = pd.DataFrame(data)

In [60]:
series_df

  Name    Sal
0  abc  15000
1  def  52000
2  ghi  30000