In [1]:
data = """cPython is the reference implementation of Python. It is written in C, meeting the C89 standard (Python 3.11 uses C11[134]) 
with several select C99 features. CPython includes its own C extensions, but third-party extensions are not limited to older
C versionsâ€”e.g. they can be implemented with C11 or C++.[135][136] CPython compiles Python programs into an intermediate bytecode[137] 
which is then executed by its virtual machine.[138] CPython is distributed with a large standard library written in a mixture of C 
and native Python, and is available for many platforms, including Windows (starting with Python 3.9, the Python
installer deliberately fails to install on Windows 7 and 8;[139][140] Windows XP was supported until Python 3.5) and 
most modern Unix-like systems, including macOS (and Apple M1 Macs, since Python 3.9.1, with experimental installer), with 
unofficial support for VMS.[141] Platform portability was one of its earliest priorities.[142] (During Python 1 and 2 development, 
even OS/2 and Solaris were supported,[143] but support has since been dropped for many platforms.)"""

In [ ]:
1.split()  : It is used to split your string
             Bydefault it will return result in List
             #You can specify the separator, default separator is whitespace
# SYNTAX : variable_name.split(separator,maxsplit)
# maxsplit : Maximum number of splits. -1 (the default value) means no limit.

In [3]:
data = "The sky is blue"

In [5]:
data.split(" ")

['The', 'sky', 'is', 'blue']

In [ ]:
# Questions
1. How do you split a string by spaces using the split() method?
2. How can you convert the sentence "Hello world, this is Python."' into a list of words?
3. Given a string representing CSV data, split it by commas.
   Input: "apple,banana,orange"
   Output: ['apple', 'banana', 'orange']
4. Input: "apple,,banana,,orange"
   Output: ['apple', '', 'banana', '', 'orange']
5. Input: "v1.2.3.4"
   Output: ['v1', '2', '3', '4']
6. Input: "2024-12-11"
   Output: ['2024', '12', '11']
7. Split the string "apple,banana,orange,grapes" at the first two commas only.
   Input: "apple,banana,orange,grapes"
   Output: ['apple', 'banana', 'orange,grapes']

In [ ]:
2.splitlines() : It is used to split a string into a list of string based on line breaks.
                 It looks for new line breaks, such as newline character "\n"

In [123]:
txt = "Thank you for the music\nWelcome to the jungle"

In [125]:
txt.splitlines()

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# Questions
1. Count the Number of Lines in a Text (using splitlines())
   text = """Line 1
Line 2
Line 3"""

2. Remove Empty Lines from a Multi-Line String (using splitlines())
  text = """Line 1

Line 2

Line 3"""

3. Extract All Lines Starting with a Specific Prefix (using splitline())
text = """error: File not found
warning: Low disk space
error: Connection lost"""
# Extract lines that start with 'error'

4. Check if any line in a multi-line string contains a specific keyword (e.g., "error").
text = """Line 1
There is an error in the code.
Line 3"""

5. Use splitlines() to find and print the max length or longest line in a multi-line string.
text = """Short line
This is a much longer line
Short again"""

6. Use splitlines() to extract lines that contain at least one digit.
python
text = """Line one
Price: 10 dollars
Line three"""

7. Convert a multi-line string to uppercase and split it into lines.
text = """Hello World
Python is great"""

8. Reverse the order of lines in a multi-line string.
text = """Line 1
Line 2
Line 3"""

9. Count how many times a specific character (e.g., a) occurs in each line of text.
text = """apple
banana
orange"""

10. Extract all unique words across lines of text and print them.
text = """Hello world
Python world
Good morning"""

In [ ]:
3. join(): It takes all items and joins them into one string 
#SYNTAX : string.join(iterable)
iterable --> Required. Any iterable object where all the returned values are strings

In [113]:
cities = ['Pune','Mumbai','Nagpur']

In [115]:
"#".join(cities)

'Pune#Mumbai#Nagpur'

In [125]:
"*".join(cities)  #Pune*MumbaiNagpur

'Pune*Mumbai*Nagpur'

In [141]:
"*".join(cities[0:2])+","+",".join(cities[2:])

'Pune*Mumbai,Nagpur'

In [148]:
"*".join(cities[0:2])+","+cities[-1]

'Pune*Mumbai,Nagpur'

In [164]:
l1 = [1, 2, 3, 4]

In [170]:
#2. Given a list of numbers [1, 2, 3, 4], create a string that contains these numbers separated by commas. 
#   OUTPUT = "1,2,3,4"

l2 = []
for i in l1:
    l2.append(str(i))

In [172]:
l2

['1', '2', '3', '4']

In [174]:
",".join(l2)

'1,2,3,4'

In [ ]:
# Questions
1. Given a list of words ['Hello', 'World'], join them into a single string separated by a space.
2. Given a list of numbers [1, 2, 3, 4], create a string that contains these numbers separated by commas. 
   OUTPUT = "1,2,3,4"
3. Given a list ['apple', 'banana', 'cherry'], join the list into a single string with a semicolon (;) 
   OUTPUT = "apple;banana;cherry"
4. Given a list ['c', 'o', 'd', 'e'], join the characters to form the word "code".
5. Join a list of strings into a multi-line string (each string on a new line).
   INPUT = ["Python is an easy Programming Language", "SQL is easy", "For loop is hard", "Thanks Bye Bye"]
6. Given a string with extra spaces, e.g., " Hello World ", split it into words, remove extra spaces, 
   and join them back with a single space. (use split() & join())
7. Join the list ['good', 'morning', 'everyone'] using a hyphen (-) as the separator.
8. Given a list of words, join them into a single sentence with appropriate spacing.
    Example: ["This", "is", "a", "sentence"] â†’ "This is a sentence"
9. Given a list of URL components, join them using slashes (/) to form a valid URL.
    Example: ["https:", "", "www.example.com", "about"] â†’ "https://www.example.com/about"
10. Given a list of strings, remove vowels from each string and then join them with a comma.
    Example: ["apple", "orange", "banana"] â†’ "ppl,rng,bnn"
11. Given a list of strings, join only the strings that are longer than 3 characters, 
    using a space as a separator.  Example: ["a", "ab", "abcd", "abc"] â†’ "abcd abc"
12. Given a string, print the reverse of the string.
    Example "The sky is blue" ---> "blue is sky The"

In [ ]:
#1. How do you split a string by spaces using the split() method?

In [9]:
"""Given a string representing CSV data, split it by commas."""
t1= "apple,banana,orange"
#   Output: ['apple','banana', 'orange']

In [11]:
t1.split(",")

['apple', 'banana', 'orange']

In [25]:
t1= "apple,,banana,,orange"
#   Output: ['apple', '', 'banana', '', 'orange']

In [27]:
t1.split(",")

['apple', '', 'banana', '', 'orange']

In [ ]:
"apple"," ","banana"," ","orange"

In [33]:
t1= "v1..2.3.4"
#   Output: ['v1', '2', '3', '4']

In [35]:
t1.split(".")

['v1', '', '2', '3', '4']

In [37]:
s1= "2024-12-11"
#   Output: ['2024', '12', '11']

In [39]:
s1.split("-")

['2024', '12', '11']

In [41]:
#Split the string "apple,banana,orange,grapes" at the first two commas only.
f1 ="apple,banana,orange,grapes"
#   Output: ['apple', 'banana', 'orange,grapes']

In [47]:
f1.split(",",1)

['apple', 'banana,orange,grapes']

In [49]:
#1. Count the Number of Lines in a Text (using splitlines())
text = """Line 1
Line 2
Line 3"""

In [53]:
t1= text.splitlines()

In [57]:
cnt=0
for i in text.splitlines():
    cnt+=1
print(cnt)

3

In [59]:
a = 1

In [61]:
a = a+1 #a+=1

In [63]:
a

2

In [ ]:
a+=1

In [71]:
#2. Remove Empty Lines from a Multi-Line String (using splitlines())
text = """Line 1

Line 2

Line 3"""

In [83]:
lst1 = text.splitlines()

In [85]:
lst1

['Line 1', '', 'Line 2', '', 'Line 3']

In [107]:
lst2 = []
lst4 = []
for i in lst1: #['Line 1', '', 'Line 2', '', 'Line 3']
    if i=="":
        pass #continue  lst4.append(i)
    else:
        lst2.append(i)
print(lst2)

['Line 1', 'Line 2', 'Line 3']

In [109]:
lst3 = []
for i in lst1: #['Line 1', '', 'Line 2', '', 'Line 3']
    if i!="":
        lst3.append(i)

In [111]:
lst3

['Line 1', 'Line 2', 'Line 3']

In [176]:
"""3. Given a list ['apple', 'banana', 'cherry'], join the list into a 
single string with a semicolon (;)  OUTPUT = "apple;banana;cherry"""
t1 = ['apple', 'banana', 'cherry']

In [178]:
";".join(t1)

'apple;banana;cherry'

In [ ]:
1. Arithmetic Operator  --> +,-,*,/,%,**,//
   2. Logical Operator  --> and or not 
   3. Comparison Operator --> ==,>=,<=,>,<,!=
   4. Assignment Operator --> =,+=,-=,*=,/=,//=,**=,%=
   5. Membership Operator --> in, not in
   6. Identity Operator --> is, not is
   7. Bitwise Operator  --> & | ~
   8. Ternary Operator  --> value_if_true if condition else value_if_false

In [180]:
a=2

In [182]:
a

2

In [ ]:
l1=[]
for i in l3:
    if i not in l1:

In [184]:
a=50

In [186]:
b=50

In [188]:
a is b

True

In [190]:
id(a)

140717979807704

In [192]:
id(b)

140717979807704

In [ ]:
20
128,64,32,16,8,4,2,1

In [194]:
c = 50000

In [196]:
d = 50000

In [200]:
c is d

False

In [214]:
a = [1,2,3,4]

In [210]:
b = [1,2,3,4]

In [216]:
a == b

True

In [ ]:
is  ----> memory location
==  ----> value